.calificacion__title {
  font-size: 2.4em;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.calificacion__select {
  padding: 15px;
  width: 100%;
  border: 1px solid gray;
  color: gray;
  -webkit-appearance: none;
  outline: none;
  display: block;
  margin: 0 auto;
}

/* .calificaciones__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid__item {
  width: 100%;
  display: flex;
}
.item__nombre {
  font-size: 1.6rem;
} */

table {
  border-collapse: collapse;
  background: #ddd;
  width: 100%;
  margin: 15px auto;
}

.item__head,
.item__registro {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
}
.item__head {
  font-weight: bold;
  background: #82ccdd;
}

tr:nth-child(even) {
  background: white;
}
tr:hover {
  background: #a5b1c2;
}
